body{
    background-color: bisque;
    display: grid;
    position: relative;
    place-items: center;
    
}
#centre{
    background-color: aqua;
    position: absolute;
    height: 90vh;
    width: 60vw;
    top: 2vw;
    display: grid;
    place-items: center;
   
}

.top{
    display: grid;
    place-items: center;
    position: absolute;
    width: 98%;
    top:2%;
    height: 8vh;
}

#header{
    height: 0.5vh;
    width: 96%;
    background-color: brown;
}
#website_tittle{
    height: 4.5vh;
    width: 96%;
    background-color: brown;
    bottom:20%;
}
#website_link{
    height: 2vh;
    width: 96%;
    background-color: brown;
}